{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>noderegister</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
	<link rel="stylesheet" type="text/css" href="{% static 'finances/css/style.css' %}">
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
</head>

 
<body>	
	<div class="container-fluid ">
		<div class="bg-primary text-white">
			<h1 class="text-center h1"> Blockchain Demo NODE REGISTER</h1>	
		</div>	
		<div>
			<p>{{ message }}</p>	
				
			<p>区块链节点：</p>
			<ul>
			{% for address in total_nodes %}
			    <li>{{address}}</li>
			{% endfor %}
			</ul>
		</div>
			
		</div>
			{% if status == 'True' %}
				<a href="{% url 'demo:mine' %}" class="btn  btn-dark btn-block">挖矿！挖出新区块！</a>
			{% endif %}
	</div>
</body>
 
</html>